<a routerLink="add"><button mat-raised-button color="primary">Addstores</button></a>
<div class="cointainer">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile *ngFor="let store of stores | async; let id = index">
                    <mat-card class="example-card">
                        <mat-card-header>

                            <mat-card-title>{{store}}</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                            <p>
                                <label for="address">Address</label>:{{store}}

                            </p>
                            <p><label for="category">category</label>:{{store}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button (click)="editStore(id)">Edit </button>
                            <button mat-button (click)="removeStore(id)">Delete</button>
                            <button mat-button (click)="products(id)">Go to products</button>

                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

        <!-- <h4>List of Customers</h4>
            <ul class="customers " style="padding :15px;">
                <li *ngFor="let store of stores | async; let i=index">
                    <span>{{i+1}}.</span> <span>{{store.name}} </span> <span>{{store.address}}</span><span>
                        {{store.category}}</span>
                    <button (click)="removeStore(i)">Remove</button>
                </li>
            </ul> -->


    </div>
</div>