<div style="height: 50px;background-color: #f0f0f0; padding: 10px; padding-right: 50px;"><a routerLink="add"
        style="float: right; "><button mat-raised-button color="primary"
            style="height: 50px; width: 150px; letter-spacing: 1px;">AddProducts</button></a></div>

<div style="background-color: #f0f0f0; height: 100%;">
    <mat-grid-list cols="4">
        <mat-grid-tile *ngFor="let store of (stores | async).products; let id = index">
            <mat-card class="example-card card">

                <img mat-card-image src={{store.img}} alt="Photo of product" style="height: 185px; width: 250px;"
                    class="container">
                <mat-card-content>

                    <p><label for="category">Name</label>:{{store.name}}</p>
                    <p>
                        <label for="address">Prize</label>: {{store.price}}

                    </p>
                </mat-card-content>
                <mat-card-actions style="display: flex; justify-content: space-evenly;">
                    <button mat-raised-button
                        style="background-color:  rgb(35, 201, 201); color: white; width: 100px; letter-spacing: 2px;"
                        (click)="editStore(id)">Edit </button>
                    <button mat-raised-button
                        style="background-color:  rgb(35, 201, 201); color: white; width: 100px;letter-spacing: 2px;"
                        (click)="removeStore(id)">Delete</button>
                </mat-card-actions>
            </mat-card>
            <!-- <mat-card class="example-card">
                        <mat-card-header>

                            <mat-card-title>{{store.name}}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src={{store.image}}>
                        <mat-card-content>
                            <p>
                                <label for="address">Address</label>:{{store.prize}}

                            </p>
                            <p><label for="category">category</label>:{{store.category}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button (click)="editStore(id)">Edit </button>
                            <button mat-button (click)="removeStore(id)">Delete</button>

                        </mat-card-actions>
                    </mat-card> -->
        </mat-grid-tile>
    </mat-grid-list>
</div>