<div align="center">
    <form [formGroup]="addproduct">
        <mat-card style="width: 45%; margin: 10px;">
            <mat-card-header align="center">
                <mat-card-title>Add Product</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field style="width:90%;">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Product Name">

                </mat-form-field>
                <mat-error *ngIf="addproduct.get('name').hasError('required') && addproduct.dirty ">
                    Please provide a name!
                </mat-error>
                <mat-error *ngIf="addproduct.get('name').hasError('minlength') && addproduct.dirty ">
                    Minimum 6 letters required!
                </mat-error>
                <mat-error *ngIf="addproduct.get('name').hasError('maxlength') && addproduct.dirty ">
                    Maximum 20 letters allowed!
                </mat-error>

                <br>
                <mat-form-field style="width:90%;">
                    <mat-label>Choose a file</mat-label>
                    <input matInput formControlName="img" placeholder="Product img link">

                </mat-form-field>

                <mat-error *ngIf="addproduct.get('img').hasError('required') && addproduct.dirty">
                    Please provide a image!
                </mat-error><br>


                <mat-form-field style="width:90%;">
                    <mat-label>Price</mat-label>
                    <input matInput formControlName="price" placeholder="Product Price">

                </mat-form-field>

                <mat-error *ngIf="addproduct.get('price').hasError('required') && addproduct.dirty">
                    Please provide a Price!
                </mat-error><br>


                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
                    [disabled]="!addproduct.valid">Submit</button>

            </mat-card-content>
        </mat-card>
    </form>
</div>