<div align="center">
    <form [formGroup]="editproduct">
        <mat-card style="width: 45%; margin: 10px;">
            <mat-card-header align="center">
                <mat-card-title>Add Product</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field style="width:90%;">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Product Name">

                </mat-form-field>
                <mat-error *ngIf="editproduct.get('name').hasError('required') && editproduct.dirty " class="red">
                    Please provide a name!
                </mat-error>

                <br>
                <mat-form-field style="width:90%;">
                    <mat-label>image</mat-label>
                    <input matInput formControlName="img" placeholder="Product img link">

                </mat-form-field>

                <mat-error *ngIf="editproduct.get('img').hasError('required') && editproduct.dirty" class="red">
                    Please provide a image!
                </mat-error><br>


                <mat-form-field style="width:90%;">
                    <mat-label>Price</mat-label>
                    <input matInput formControlName="price" placeholder="Product Price">

                </mat-form-field>

                <mat-error *ngIf="editproduct.get('price').hasError('required') && editproduct.dirty" class="red">
                    Please provide a Price!
                </mat-error><br>

                <!-- <mat-form-field class="example-full-width" style="width:90%;">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" placeholder="Product address" #search>


                </mat-form-field><br> -->
                <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" style="width:90%;">
                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                        (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map> -->
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
                    [disabled]="!editproduct.valid">Submit</button>

            </mat-card-content>
        </mat-card>
    </form>
</div>