<div align="center">
    <form [formGroup]="editstore">
        <mat-card style="width: 45%; margin: 10px;">
            <mat-card-header align="center">
                <mat-card-title>Add Stores</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field style="width:90%;">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name" placeholder="Your Name" name="name">

                </mat-form-field>
                <div *ngIf="editstore.get('name').hasError('required') && editstore.dirty " class="red">
                    Please provide a name!
                </div>

                <br>
                <mat-form-field style="width:90%;">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" placeholder="Your address">

                </mat-form-field>

                <div *ngIf="editstore.get('address').hasError('required') && editstore.dirty" class="red">
                    Please provide a address!
                </div><br>

                <mat-form-field appearance="fill" style="width:90%;">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let cate of category" [value]="cate.value">
                            {{cate.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field><br>
                <!-- <mat-form-field class="example-full-width" style="width:90%;">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" placeholder="Your address" #search>


                </mat-form-field><br> -->
                <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" style="width:90%;">
                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                        (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map> -->
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>

            </mat-card-content>
        </mat-card>
    </form>
</div>