<div align="center">
    <form [formGroup]="addstore">
        <mat-card style="width: 45%; margin: 10px;">
            <mat-card-header align="center">
                <mat-card-title>Add Stores</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field style="width:90%;">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Your Name">

                </mat-form-field>
                <mat-error *ngIf="addstore.get('name').hasError('required') && addstore.dirty ">
                    Please provide a name!
                </mat-error>
                <mat-error *ngIf="addstore.get('name').hasError('minlength') && addstore.dirty ">
                    Minimum 6 letters required!
                </mat-error>
                <mat-error *ngIf="addstore.get('name').hasError('maxlength') && addstore.dirty ">
                    Maximum 20 letters allowed!
                </mat-error>

                <br>
                <mat-form-field style="width:90%;">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="addr" placeholder="Your address">

                </mat-form-field>

                <mat-error *ngIf="addstore.get('addr').hasError('required') && addstore.dirty">
                    Please provide a addr!
                </mat-error><br>

                <mat-form-field appearance="fill" style="width:90%;">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="cat">
                        <mat-option *ngFor="let cate of category" [value]="cate.value">
                            {{cate.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field><br>
                <!-- <mat-form-field class="example-full-width" style="width:90%;">
                    <mat-label>addr</mat-label>
                    <input matInput formControlName="addr" placeholder="Your address" #search>


                </mat-form-field><br> -->
                <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" style="width:90%;">
                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                        (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map> -->
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
                    [disabled]="!addstore.valid">Submit</button>

            </mat-card-content>
        </mat-card>
    </form>
</div>